form,
h1{
  padding-left: 30px;
  padding-right: 30px;
}

#error{
  color: red;
  padding-left: 30px;
}

#message{
  padding-left: 30px;
}

p{
  padding-left: 30px;
  padding-right: 30px;
}

body{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.nav-link {
  color: white;
}

body, th, td, tr{
  background: rgb(22, 35, 59);

}

nav{
  background-color: rgb(33, 88, 155);
  color: white;
}

#footer {
  padding-left: 30px;
}
